{# template/clients/create.twig #}
{% extends 'admin/layout.twig' %}
{% block title %}Course create{% endblock %}
{% block content %}

    <form action="{{ url_for('coursesStore') }}" method="post" enctype="multipart/form-data">
        {% include 'admin/courses/_form.twig' %}
    </form>


{% endblock %}