{# template/domains/create.twig #}
{% extends 'admin/layout.twig' %}
{% block title %}Domains create{% endblock %}
{% block content %}

    <form action="{{ url_for('domainsStore') }}" method="post">
        {% include 'admin/domains/_form.twig' %}
    </form>


{% endblock %}